<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <table class="">
            <tr *ngFor="let row of tablero.celdas; let i = index">
              <td *ngFor="let col of row; let j = index"
              class="" id="t{{i}}{{j}}">
              <span *ngIf="col.isWind">🍃</span>
              <span *ngIf="col.isSmelly">🪳</span>
              <span *ngIf="col.isWell">🕳️</span>
              <span *ngIf="col.isWumpus">👹</span>
              <span *ngIf="col.isGold">🪙</span>
            </td>
          </tr>
        </table>
        <div class="ui-user">
          <div [class.preview-img]="!personaje.percepcion.isWell" [class.well]="personaje.percepcion.isWell">
            <div *ngIf="personaje.isWallFront" class="front-img"></div>
            <div *ngIf="!personaje.isWallFront" class="front-img-empty"></div>
            <div class="center-img">
              <img *ngIf="personaje.percepcion.isWumpus" src="../assets/monsternobg.png"/>
              <img *ngIf="personaje.percepcion.isGold" src="../assets/gold.png"/>
              <img *ngIf="personaje.percepcion.isWind" src="../assets/wind.gif"/>
              <img *ngIf="personaje.percepcion.isSmelly" src="../assets/smellynobg.png"/>
              <img *ngIf="personaje.percibirFlechaWumpus" src="../assets/scream-removebg-preview.png"/>
            </div>
          </div>
          <div *ngIf="!personaje.isGameOver">
            <button (click)="girarIzquierda($event)">izquierda</button>
            <button (click)="moverAdelante($event)">adelante</button>
            <button (click)="dispararFlecha($event)">disparar flecha</button>
            <button (click)="girarDerecha($event)">derecha</button>
          </div>
        </div>
        <div class="adventure-log">
            <div *ngFor="let log of adventure_log.slice().reverse()">
              {{log}}
            </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>